<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LakasSzovetkezet.Properties.Settings.LakaszovetkezetConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=Lakaszovetkezet;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="LakasSzovetkezet.Properties.Settings.lakassqlConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=lakassql;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>